<div class="settings-form">
  <%= form_with(model: chatroom, local: true) do |form| %>
    <% if chatroom.errors.any? %>
      <div id="error_explanation">
        <h4 style="color:red"><%= pluralize(chatroom.errors.count, "error") %> prohibited this chatroom from being saved:</h4>

        <ul>
        <% chatroom.errors.full_messages.each do |message| %>
          <li style="color:red;"><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>