<div style="margin: 15px;">

  <div>
    <span class="pull-right"><%= link_to 'new channel', new_chatroom_path, class:"btn btn-primary btn-xs" %></span>
    <h2>Chatrooms</h2>
    </div>
      <% @chatrooms.each do |chatroom| %>
        <div>
          <div class="panel panel-default" data-conversation-id="<%= chatroom.id %>">
            <div class="panel-heading">
              <span>
                <%= link_to 'Edit', edit_chatroom_path(chatroom), class: "btn btn-default btn-xs pull-right" if current_user.try(:admin?) %>
                <%= link_to 'Join', chatroom_chatroom_users_path(chatroom), method: :post, class: "btn btn-default btn-xs pull-right" %>
                <%= link_to 'Leave', chatroom_chatroom_users_path(chatroom), method: :delete, class: "btn btn-default btn-xs pull-right" %>
                <%= link_to "x", chatroom, method: :delete, data: { confirm: 'Are you sure?' 
                }, class: "btn btn-default btn-xs pull-right"  if current_user.try(:admin?)  %>
              </span>
              <h5 class="panel-title"><%= chatroom.name %></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br> 
</div>
