<p id="notice"><%= notice %></p>
<div style="margin-left: 5px;margin-bottom: 15px;">

  <div align="center">
    <strong>Current Channel:</strong>
    <i><%= @chatroom.name %></i>
  </div>
  <hr />
  <% unread_messages = false %>
  <div data-behavior="messages" data-chatroom-id='<%= @chatroom.id %>'>
    <% @messages.each do |message| %>
      <% if !unread_messages && @chatroom_user.last_read_at < message.created_at %>
        <% unread_messages = true %>
        <div class="strike"><span>Unread Message</span></div>
      <% end %>

        <div align="left">
          <%= render message %>
        </div>
      <% end %>
  </div>


  <hr />

  <div style="margin-right:5px;margin-left:5px;">
    <%= form_for [@chatroom, Message.new] do |f| %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= f.label "Message" %>
      <%= f.text_area :body, rows: 1, class: 'form-control message', autofocus: true %>
    <% end %>
  </div>

  <hr />
  <div class="divider"><div/>

  <%= link_to 'Edit', edit_chatroom_path(@chatroom) if current_user.try(:admin?) %> |
  <%= link_to 'Back', chatrooms_path %>

</div>