<!DOCTYPE html>
<html>
  <head>
    <title>Chasecord</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: "navbar-brand" do %>
            Chasecord
          <% end %>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <%= yield :right_nav %>

              <li class="dropdown settings pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Settings", edit_user_registration_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" style="margin-top:70px">
      <div class="row">
        <div class="col-sm-2" style="position:fixed;top:70px;left:0;">
        
          <% if user_signed_in? %>
              <div class="panel panel-primary" id="menu" pull-left">
                <%# <a href="#" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Channels & Users<span></span></a> %>
                <div class="panel-heading" id="ul" style="margin:3px;">
                  <h5 class="panel-title">My Chatrooms</h5>
                </div>
                <div class="panel-body">
                  <% current_user.chatrooms.public_channels.each do |chatroom| %>
                    <div class="nav-item <%= active_class(chatroom_path(chatroom)) %>">
                        <%= link_to chatroom.name, chatroom,  data: { behavior: "chatroom-link", chatroom_id: chatroom.id } %>
                    </div>
                    <hr />
                  <% end %>
                </div>
                  <div class="panel-heading">
                    <h5 class="panel-title">Users</h5>
                  </div>
                  <div class="panel-body">
                    <% (User.all - [current_user]).each do |user| %>
                      <%# <li role="separator" class="divider"></li> %>
                      <div class="nav-item <%= active_class(direct_message_path(user)) %>">
                          <%= link_to user.username, direct_message_path(user.id), data: { behavior: "chatroom-link",
                           chatroom_id: Chatroom.direct_message_for_users([current_user, user]).id } %>
                      </div>
                      <hr />
                    <% end %>
                  </div>
                    <div class="panel-heading">
                      <h5 class="panel-title">Online Users</h5>
                    </div>
                    <div class="panel-body" align="left" id="online-users">
                      <div class="nav-item">
                        <%= render partial: 'users/online', collection: User.online, as: :user  %>
                        <%# <%= render partial: 'users/offline', collection: User.offline, as: :user %>
                      </div>
                    </div>
                </div>
              </div>
          <% end %>
        </div>
        <div class="col-sm-10 col-sm-offset-2 main-body">
          <div class="row">
            <%= yield %>
            <%= render 'shared/flash'%>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>